body{
    background-color: rgb(180, 225, 248);
    text-align:center;
}
canvas{
    border:2px solid black;
    background-image:url(images/grasses68.gif);
}
#talkBox{
    height:20px;
    color:brown;
    font-size:26px;
    font-weight:bold;
}
.play{
    position: absolute;
    top:10px;
    left: 10px;
    width: 1400px;
    height: 700px;;
}